In [1]:
import pandas as pd
import pickle

In [2]:
data = pd.read_csv('../../../data/kc_house_data_update1.csv')

In [3]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,zipcode,lat,long,sqft_living15,sqft_lot15,datefloat,renovated,bath_per_bed,skinniness,dist
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0.0,...,98178,47.5112,-122.257,1340,5650,16356.0,0,0.333333,1180.0,0.154164
1,6414100192,12/09/2014,538000.0,3,2.25,2570,7242,2.0,0,0.0,...,98125,47.7210,-122.319,1690,7639,16413.0,1,0.750000,1285.0,0.161642
2,5631500400,02/25/2015,180000.0,2,1.00,770,10000,1.0,0,0.0,...,98028,47.7379,-122.233,2720,8062,16491.0,0,0.500000,770.0,0.109873
3,2487200875,12/09/2014,604000.0,4,3.00,1960,5000,1.0,0,0.0,...,98136,47.5208,-122.393,1360,5000,16413.0,0,0.750000,1960.0,0.247977
4,1954400510,02/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0.0,...,98074,47.6168,-122.045,1800,7503,16484.0,0,0.666667,1680.0,0.134928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21580,263000018,05/21/2014,360000.0,3,2.50,1530,1131,3.0,0,0.0,...,98103,47.6993,-122.346,1530,1509,16211.0,0,0.833333,510.0,0.177767
21581,6600060120,02/23/2015,400000.0,4,2.50,2310,5813,2.0,0,0.0,...,98146,47.5107,-122.362,1830,7200,16489.0,0,0.625000,1155.0,0.227279
21582,1523300141,06/23/2014,402101.0,2,0.75,1020,1350,2.0,0,0.0,...,98144,47.5944,-122.299,1020,2007,16244.0,0,0.375000,510.0,0.131089
21583,291310100,01/16/2015,400000.0,3,2.50,1600,2388,2.0,0,0.0,...,98027,47.5345,-122.069,1410,1287,16451.0,0,0.833333,800.0,0.153444
21584,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0,0.0,...,98144,47.5941,-122.299,1020,1357,16358.0,0,0.375000,510.0,0.131201

In [4]:
with open('Scraped/comf.pickle', 'rb') as f:
    comf = pickle.load(f)
    
with open('Scraped/med_age.pickle', 'rb') as f:
    med_age = pickle.load(f)
    
with open('Scraped/med_inc.pickle', 'rb') as f:
    med_inc = pickle.load(f)
    
with open('Scraped/med_price.pickle', 'rb') as f:
    med_price = pickle.load(f)
    
with open('Scraped/unemp.pickle', 'rb') as f:
    unemp = pickle.load(f)

In [5]:
data['unemployment'] = data['zipcode'].map(unemp)
data['median_age'] = data['zipcode'].map(med_age)
data['median_income'] = data['zipcode'].map(med_inc)
data['median_prce'] = data['zipcode'].map(med_price)
data['comfort_index'] = data['zipcode'].map(comf)

In [6]:
data['median_age'] = data['median_age'].map(float)
data['median_income'] = data['median_income'].map(lambda x: float(x[1:].replace(',','')))
data['unemployment'] = data['unemployment'].map(lambda x: float(x[:-1]))
data['median_prce'] = data['median_prce'].map(lambda x: float(x[1:].replace(',','')))
data['comfort_index'] = data['comfort_index'].map(lambda x: float(x.split('/')[0]))

In [7]:
data.to_csv(path_or_buf='../../../data/kc_house_data_update2.csv', index = False)