In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_csv('../../../data/kc_house_data_update5.csv')

In [3]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'datefloat', 'renovated', 'bath_per_bed',
       'skinniness', 'dist', 'unemployment', 'median_age', 'median_income',
       'median_prce', 'comfort_index', 'seasonal', 'month_1', 'month_2',
       'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8',
       'month_9', 'month_10', 'month_11', 'month_12', 'act_prce',
       'years_since_new', 'log_sqft_living', 'elevation'],
      dtype='object')

In [4]:
categoricals = ['bedrooms','bathrooms','floors','waterfront','view','condition','renovated']

In [5]:
data_dummies = pd.get_dummies(data[categoricals], prefix = categoricals, columns = categoricals)

In [6]:
data_dummies

,bedrooms_1,bedrooms_2,bedrooms_3,bedrooms_4,bedrooms_5,bedrooms_6,bedrooms_7,bedrooms_8,bedrooms_9,bedrooms_10,...,view_2.0,view_3.0,view_4.0,condition_1,condition_2,condition_3,condition_4,condition_5,renovated_0,renovated_1
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21579,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
21580,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
21581,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
21582,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
21583,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [7]:
data.drop(categoricals, axis = 1, inplace = True)
data = pd.concat([data, data_dummies], axis = 1)

In [8]:
data.to_csv(path_or_buf = '../../../data/kc_house_data_with_dummies.csv', index = False)